{include="header"}
  
  <div class="row row-centered">
    <div class="col-lg-9 col-centered">
      <div class="table-responsive">
        {if="$successMsg != ''"}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {$successMsg}
          </div>
        {/if}

        {if="$errorMsg != ''"}
          <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {$errorMsg}
          </div>
        {/if}
        {if="$categories != ''"}
        
        <table class="table table-hover table-striped" id="example">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th data-hide="phone">DESCRIPTION</th>
                    <th data-hide="phone">ACTIONS</th>
                </tr>
                <tr>
                  <th class="th_head">FIRST NAME</th>
                  <th class="th_head">LAST NAME</th>
                  <th></th>
                </tr>
            </thead>
            <tbody>
              {loop="categories"}
                  <tr>
                      <td class="bold">{$value.catName}</td>
                      <td>{$value.catDescription}</td>
                      <td>
                          <a href="category-edit.php?id={$value.catID}"><i class="fa fa-pencil-square-o btn-action" data-toggle="tooltip2" data-placement="left" title="Click to edit product"></i></a>
                          <a href="?action=delete&id={$value.catID}" class="confirm"><i class="fa fa-trash"></i></a>
                      </td>
                  </tr>
              {/loop}
            </tbody>
        </table>

      </div>
        {/if}
    </div>
    <div class="row row-centered" style="margin-top:40px;margin-bottom:150px;">
      <div class="col-lg-9 col-centered">
          <a href="category-add.php"><button type="button" class="btn btn-default"><i class="fa fa-building-o"></i> &nbsp;Add Category
          </button></a>
      </div>
    </div>  

  </div>
  {include="footer"}