{include="header"}
  <div class="row row-centered">
    <div class="col-lg-9 col-centered">
      <div class="table-responsive">
        {if="$successMsg != ''"}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {$successMsg}
          </div>
        {/if}
        {if="$errorMsg != ''"}
          <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {$errorMsg}
          </div>
        {/if}
      
        {if="$invoices != ''"}
        <table class="table table-hover table-striped" id="example" >
          <thead>
            <tr>
              <th>CLIENT NAME</th>
              <th>VALUE (TOTAL)</th>
              <th>CREATE DATE</th>
              <th>DUE DATE</th>
              <th>ACTIONS</th>
            </tr>
            <tr>
              <th class="th_head">ID</th>
              <th class="th_head">NAME</th>
              <th class="th_head">DESCRIPTION</th>
              <th class="th_head">CATEGORY</th>
              <th style="width: 105px;"></th>
            </tr>
          </thead>
          <tbody>
            {loop="invoices"}
              <tr>
                <td class="bold">{$value.invoiceClient}</td>
                <td>{$value.currency} {$value.invoiceAmount}</td>
                <td>{$value.invoiceDate}</td>
                <td>{$value.invoiceDuedate}</td>
                <td>
                  <a href="edit-invoice.php?id={$value.invoiceID}"><i class="fa fa-pencil-square-o btn-action" data-toggle="tooltip" data-placement="left" title="View & edit invoice"></i></a>
                  <a href="process.php?go=download&cid={$value.invoiceClientID}&inr={$value.invoiceNr}"><i class="fa fa-download btn-action" data-toggle="tooltip" data-placement="left" title="Download PDF"></i></a>
                  <a href="#" onclick="sweetAlert();"><i class="fa fa-envelope btn-action" data-toggle="tooltip" data-placement="left" title="Send to email"></i></a>
                  <a href="?action=delete&id={$value.invoiceID}" class="confirm"><i class="fa fa-trash btn-action" ></i></a>
                </td>
              </tr>
            {/loop}
          </tbody>
        </table>
        {/if}
      </div>
    </div>
  </div>
  <div class="row row-centered" style="margin-top:40px;margin-bottom:150px;">
    <div class="col-lg-8 col-centered">
      <a href="create-invoice.php"><button type="button" class="btn btn-default btn-add-product"><i class="fa fa-building-o"></i> &nbsp;Create Invoice</button></a>
    </div>
  </div>


{include="footer"}