{include="header"}
    <style type="text/css">
        .delete-logo {
            display: none;
            margin-top: 10px;
            border: 2px solid #178cd9 !important;
            color: #178cd9 !important;
            border-radius: 0;
        }

        .navbar-default, .footer{
            display: none;
        }
    </style>

    <script type="text/javascript">
            function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img_prev')
                    .attr('src', e.target.result)
                    .width(208);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        
    function isNumberKey(evt){
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }  
    </script>
    
    <div class="bg-modal-editProduct">
      {if="$successMsg != ''"}
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {$successMsg}
        </div>
      {/if}
      {if="$errorMsg != ''"}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {$errorMsg}
        </div>
      {/if}
      {if="$infoMsg != ''"}
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {$infoMsg}
        </div>
      {/if}

    <form class="form-horizontal" role="form" method="post" action="" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-12">
                <a href="items.php" class="close-modal">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>  
        <div class="row row-centered">
            <div class="col-lg-12">
                <h1 class="modal-title"><i class="fa fa-pencil-square-o"></i> EDIT PRODUCT</h1>
            </div>
        </div>
        <div class="row row-centered">
            <div class="col-lg-2 col-centered">
                <div class="input-group">
                        <div class="btn-group col-sm-8">          
                            <div id="logo" style="width: 208px;height: 200px;" >
                                <div class="logo_prev">
                                    {if="$itemImage==''"}
                                        <img id="img_prev" src="img/no_image.png" alt="Product Image" class="img-thumbnail img-responsive"/ style="width: 208px; height:auto; ">
                                    {else}
                                        <img id="img_prev" src="../../{$itemImage}" alt="Product Image" class="img-thumbnail img-responsive"/ style="width: 208px; height:auto; ">
                                    {/if}
                                </div>
                                <br>
                                <input type='file' onchange="readURL(this);" name="itemImage" class="select-logo" />
                                <a class="delete-logo btn btn-default" id="delete-logo" href="javascript:;" title="Remove row"><span class="glyphicon glyphicon-remove-circle"></span> Delete image</a>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-lg-4 col-centered" style="top:-27px;left: 18px;">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group width-input">
                            <input type="text" class="form-control" name="itemName" id="itemName" placeholder="NAME" value="{$itemName}">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group width-input">
                            <select class="form-control" name="itemCategory" id="itemCategory" style="width: 100%;height: 34px;">
                              {loop="dataCat"}
                                {if="$value.catID == $selectedCatID"}
                                    <option value="{$value.catID}" selected>{$value.catName}</option>
                                {else}
                                    <option value="{$value.catID}">{$value.catName}</option>
                                {/if}
                              {/loop}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group width-input">
                            <input type="text" class="form-control" name="itemDescription" id="itemDescription" placeholder="DESCRIPTION" value="{$itemDescription}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group width-input">
                        {if="$itemInfinity=='1'"}
                            <input type="text" class="form-control" id="itemQuantity" name="itemQuantity" placeholder="QUANTITY" value="1" disabled>
                        {else}
                            <input type="text" onkeypress="return isNumberKey(event)" class="form-control" id="itemQuantity" name="itemQuantity" placeholder="QUANTITY" value="{$itemQuantity}">
                        {/if}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group width-input">
                            <input type="text" class="form-control itemPrice" name="itemPrice" id="itemPrice" placeholder="PRICE" value="{$itemPrice}">
                        </div>
                        <span id="itemPriceMsg" class="message"></span>
                    </div>
                </div>
                <div class="row">
                        <div class="col-lg-6">Infinite item?&nbsp;&nbsp;
                            <div class="btn-group" data-toggle="buttons">  
                                {if="$itemInfinity=='0'"}
                                    <label class="btn btn-primary active" id="no-infinity">
                                        <input name="infinity" value="0" checked="checked" type="radio">No
                                    </label>
                                    <label class="btn btn-primary" id="yes-infinity">
                                        <input name="infinity" id="yes-input" value="1" type="radio">Yes
                                    </label>
                                {else}
                                    <label class="btn btn-primary" id="no-infinity">
                                        <input name="infinity" value="0" type="radio">No
                                    </label>
                                    <label class="btn btn-primary active" id="yes-infinity">
                                        <input name="infinity" id="yes-input"  checked="checked" value="1" type="radio">Yes
                                    </label> 
                                {/if}
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="row row-centered" style="margin-top:100px;" >
            <div class="col-lg-12">
                <button type="submit" name="Submit" id="Submit" class="btn btn-default btn-save-product saveItemEdit" style="margin-left: 615px;border-radius:0;"><i class="fa fa-floppy-o"></i> &nbsp;Save</button>
                
            </div>
        </div>
    </form>
    </div>

{include="footer"}


  